@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Sample app showing use of authentication (cookie based) and authorization in an ASP.NET Core MVC app with Identity support</p>
</div>
